// Prevent an element from being displayed.
%screen-hide {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// Restore to view
%screen-show {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

// Clear fix for containers of floated elements
%clearfix {
    &::before,
    &::after {
        content: "";
        display: table;
        line-height: 0;
    }
    &::after {
        clear: both;
    }
    *zoom: 1;
}

//global placeholders
%box-style {
    border-radius: 4px;
    border: 1px $grey1 solid;
}
