// Base font
$base-font-scale: 1; // The font scale multiplier (e.g. 2 = 32px/2em/2rem)
$base-font-pixel: 16; // Used for font size calculations & conversions
$base-font-colour: #4a4a4a;

// Selection highlighting
$content-selection-highlight: #b3d4fc;

// Default breakpoints
$small-to: 767px;
$medium: 768px;
$large: 960px;

// Colours
$primary: rgb(33, 59, 85);
$grey1: #ccced2;
