<form action="/" method="get" class="search-form">
    <label class="sr-only" for="search_query">Search query</label>
    <input
        class="search-form__input"
        type="search"
        name="search_query"
        value=""
        placeholder="What are you looking for?"
        id="search_query"
    />
    <button class="search-form__button" type="submit">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="27"
            height="28"
            viewBox="0 0 27 28"
        >
            <path
                fill="currentColor"
                d="M26.4 26l-8.3-8.3c1.8-1.9 2.9-4.4 2.9-7.2C21 4.7 16.3 0 10.5 0S0 4.7 0 10.5 4.7 21 10.5 21c2.3 0 4.4-.7 6.1-2 0 0 0 .1.1.1l8.3 8.3c.2.2.5.3.7.3s.5-.1.7-.3c.4-.4.4-1 0-1.4zM2 10.5C2 5.8 5.8 2 10.5 2S19 5.8 19 10.5 15.2 19 10.5 19 2 15.2 2 10.5z"
            ></path>
        </svg>
        <span class="sr-only">Submit search</span>
    </button>
</form>
