// Global layout
.container {
    width: 100%;
    padding-left: pxToRem(15);
    padding-right: pxToRem(15);
    margin: 0 auto;

    @media screen and (min-width: $large) {
        max-width: pxToRem(1200);
    }
}

.content-sidebar-layout {
    @media screen and (min-width: $large) {
        display: grid;
        grid-template-columns: auto 30%;
        grid-template-areas: "content sidebar";
        column-gap: 2rem;
    }
}

// Main header
.main-header {
    border-bottom: 2px solid $grey1;
    margin-bottom: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    @media screen and (min-width: $large) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.main-header__title {
    margin: 0;

    //following module should have margin top applied
    & ~ * {
        margin-top: 1rem;

        @media screen and (min-width: $large) {
            margin-top: 0;
        }
    }
}

// Global content
.content {
    margin-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $primary;
}

ul {
    padding-left: 1.5rem;

    li {
        margin-bottom: 0.5rem;
    }
}

// Sidebar
.side-bar {
    @extend %box-style;
    grid-area: sidebar;
    padding: 1rem;
    margin-bottom: 2rem;
}

.side-bar__header {
    margin-top: 0;
}
