//module vars
$search-form-height: 50;

.search-form {
    width: 100%;
    height: pxToRem($search-form-height);
    display: flex;

    @media screen and (min-width: $large) {
        .main-header & {
            flex-basis: 30%;
        }
    }
}

.search-form__input {
    @extend %box-style;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 100%;
    width: calc(100% - #{pxToRem($search-form-height)});
    padding-left: 1rem;
    padding-right: 1rem;
}

.search-form__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: pxToRem($search-form-height);
    height: 100%;
    border: 2px solid $primary;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: $primary;
    cursor: pointer;
    transition: background-color 0.3s;

    svg {
        transition: color 0.3s;
        color: #fff;
    }

    &:hover {
        background-color: #fff;
        svg {
            color: $primary;
        }
    }
}
