<header class="main-header container" role="banner">
    <!-- Skip links -->
    <div class="sr-only">
        <a href="#main">Skip header</a>
    </div>

    <!-- Site title/header -->
    <h1 class="main-header__title">Sample site</h1>

    ${require('../../search-form/html/index.html')}
</header>
